@model IEnumerable<demau.Models.SINHVIEN>

@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÔNG TIN SINH VIÊN</h2>
<p>Mã số sinh viên: 61133540</p>
<p>Họ Tên: Nguyễn Khánh Duy</p>
<p>Lớp: 61CNTT-1</p>
<p>Ngày kiểm tra: </p>

